.resume-content 
{
 border: 2px solid gray;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  padding: 20px;
  white-space: pre;
}
.resume-content h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}
.resume-content h1 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.resume-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
}

.resume-content h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}


.resume-content ul {
  list-style: none;
  padding: 0;
}

.resume-content li {
  margin-bottom: 8px;
}