
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
    .profile_container{
        flex-direction: column;
    }
}