@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --primary-color: #ff761f;
    --text-color: #727171;
}



/*  Body and html CSS  */


body
{
    font-family: 'inter', sans-serif ;
    background-color:  black;
    color: white;
    list-style: none;
}
html
{
    font-size: 10px;
}



/* Header CSS*/

.top
{
    font-family: i;
}
.nav
{
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/* Fotter CSS */

.footer
{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.footer .contact
{
  text-align: center;
}

.footer .contact_info
{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  align-items: center;
}