.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

/* common global styles */

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_pretitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
}
.item_subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.active{
    border: 1px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.cardmodal{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}
.githubimage{
    width: 50px;
}
.project_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.modal{
    display: none;
}
#project-card1:target,
#project-card2:target{
    display: flex;
}
.close{
    display: inline-block;
    color: black;
    border: 1px solid;
}
.easteregg{
    color: black;
}

@media print {
  body {
    font-family: Arial, sans-serif;
    background: white;
    color: black;
  }

  .nav, .downloadbtn, embed {
    display: none;
  }

  h1 {
    font-size: 24pt;
    margin-top: 2em;
  }

  .profile {
    margin-bottom: 2em;
  }
}
